# Игнорировать папки node_modules
**/node_modules/

# Игнорировать файлы lock (если не хочешь хранить package-lock.json в репозитории)
**/package-lock.json

# Игнорировать сгенерированные файлы и логи
*.log
*.tmp
*.bak
*.swp

# Игнорировать временные файлы и папки
.DS_Store
Thumbs.db

# Игнорировать загруженные JSON-файлы и отчеты
**/uploads/
**/report/
**/response.txt

# Игнорировать конфиденциальные данные
.env
*.env.local

# Игнорировать файлы IDE и редакторов
.vscode/
.idea/
*.iml

# Игнорировать скомпилированные файлы
dist/
build/