DB_HOST=postgresql
DB_PORT=5432
DB_USER=tia_user
DB_PASSWORD=password
DB_NAME=tia_mapping_db

ALLOWED_ORIGINS=http://localhost:3000
TIA_ALLOWED_ORIGINS=http://localhost:3000

# для локального докера
# ВНИМАНИЕ: если меняете эти параметры, нужно запустить: docker-compose up --build

REACT_APP_SERVER_URL=http://localhost:5000/api

SERVER_URL=http://localhost:5000/api

REACT_APP_TIA_URL=http://localhost:5001
TIA_URL=http://localhost:5001

ALLURE_BASE_URL=https://abanking.qatools.cloud/api

CLOUDRU_FM_API_KEY=__REDACTED__
