ALLURE_TOKEN=
__REDACTED__
DB_PORT=
DATABASE_URL=
DB_CLIENT=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
BERT_SCORE_SERVICE_URL=http://bert-score-service:8000
BERT_SCORE_MODEL_TYPE=bert-base-multilingual-cased
BERT_SCORE_BATCH_SIZE=8
BERT_SCORE_TIMEOUT_MS=600000
