# Файл для локальной разработки и сборки из исходников
# Переопределяет параметры из основного docker-compose.yml

services:
  allure-test-inspector:
    build:
      context: .
      dockerfile: Dockerfile.allure-test-inspector
      args:
        # Переменные для сборки фронтенда (React). 
        # Если не заданы в .env, возьмутся дефолты из кода.
        - REACT_APP_SERVER_URL=${REACT_APP_SERVER_URL:-https://test-inspector.abanking.ru/api/api}
        - REACT_APP_TIA_URL=${REACT_APP_TIA_URL:-https://test-inspector.abanking.ru/tia-api}
    # Пробрасываем переменные для рантайма сервера
    environment:
      - SERVER_URL=${SERVER_URL:-https://test-inspector.abanking.ru/api/api}
      - ALLURE_BASE_URL=${ALLURE_BASE_URL:-https://abanking.qatools.cloud/api}
      - CLOUDRU_FM_API_KEY=${CLOUDRU_FM_API_KEY}

  tia-mapping-service:
    build:
      context: .
      dockerfile: Dockerfile.tia-mapping-service
    environment:
      - PORT=5001

  bdd-server:
    build:
      context: .
      dockerfile: Dockerfile.bdd-server
    environment:
      - PORT=5002
